.game-form{
  display: flex;
  flex-direction: row;
}

.game-form-left, .game-form-right{
  flex: 2;
}

.game-form-body{
  flex: 3;
  display: flex;
  flex-direction: column;
}

.game-form-body *{
  margin-bottom: 5px;
}

.description-box{
  display: flex;
  flex-direction: column;
}
