<div class="game-form">
  <div class="game-form-left"></div>
  <div class="game-form-boby">
    <form action="/login" method="post">
      <label for="username">Username: </label>
        <input id="username" type="text" name="username">
      <label for="password">Password: </label>
        <input id="password" type="password" name="password">
      <input type="submit" value="Log In">
    </div>
    </form>
  <div class="game-form-right"></div>
</div>
