<form action="/signup" method="post">
  <div class="lmr-container">
    <div class="left"></div>
    <div class="middle">
      <label for="username">Username: </label>
        <input id="username" type="text" name="username">
      <label for="steamid">Steam Id: </label>
        <input id="steamid" type="text" name="steamid">
      <label for="password">Password: </label>
        <input id="password" type="password" name="password">
      <input type="submit" value="Sign Up">
    </div>
    <div class="right"></div>
  </div>

</form>
