<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flatiron Sinatra Project</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="nav-bar">
      <% path = request.path_info %>
      <div class="home">
        <% if @current_user %>
          <a href="/users/<%=@current_user.slug%>">HOME</a>
        <% end %>
        <a href="/">BROWSE</a>
      </div>

      <div class="user-access">
        <% if !@current_user %>
          <a href="/login">Log In</a>
          <a href="/signup">Sign Up</a>
        <% else %>
          <a href="/logout">Logout</a>
        <% end %>
      </div>

    </div>

    <div class="container">
      <div class="intro">
        <% if @current_user %>
          <h1><span class="username"><%=@current_user.username%></span></h1>
          <h6>Logged In</h6>
        <% end %>

      </div>

      <div class="yielded">
          <%= yield %>
      </div>

      <br><br>

    </div>

  </body>
</html>
